<%= link_to "Home", home_path%>
<br>

<h1>About PM_jf</h1>

<h2>Tracking Tool</h2>

<p>This tool provides an instant, current snapshot of the state of the project; what's done, what's in progress, and what still needs taking care of.</p>

<h3>Suggests Assignments</h3>
<ul>
  <li>Tracks every commit for number of hours and time of day worked</li>
  <li>Examines commits to determine the team member who has committed the most for any object</li>
  <li>Suggests the most efficient assignment of new work based on past team member work type and habits</li>
</ul>

<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/548161_10150790575037269_1705867985_n.jpg" />


