<%= link_to "About Us", about_path%>
<br>

<h1>PM_jf Home Page</h1>

<p>Welcome to the easy way to control your projects</p>
<br>

<%= link_to "All Projects", projects_path %>

<br>
<%= link_to "All Tasks", tasks_path %>

 