%h1 Heading Redding
/= link_to "About Us", about_path
%br
  %p Welcome to the easy way to control your projects
  %br
    = link_to "All Projects", projects_path, class: "btn btn-primary"
  %br
    = link_to "All Tasks", tasks_path, class: "btn btn-primary"

  / .bluetext hjgjtghjtuy

  / .greentext hjgjtghjtuy
  
   
     